@font-face
  font-family lato
  font-style normal
  src url('fonts/Lato-Regular.ttf')

@font-face
  font-family latoBold
  font-style normal
  src url('fonts/Lato-Bold.ttf')

@font-face
  font-family latoBlack
  font-style normal
  src url('fonts/Lato-Bold.ttf')