flex(dir, jc, ai)
  display flex
  flex-direction dir
  justify-content jc
  align-items ai

// TRANSITIONS

transition(time)
  transition time
  transition-timing-function ease-in-out

t-slow()
  transition(1s)

t-middle()
  transition(.5s)

t-fast()
  transition(.2s)

// ELEMENTS

border-light-bottom()
  border-bottom 1px solid primary_dark_lighter90