.button
  padding 0.7rem 1.4rem
  border-radius 4px
  font-family latoBold
  font-size 0.8rem
  letter-spacing 0.4px
  text-transform uppercase
  &:hover
    opacity 0.8

.button--full
  color primary_light
  background-color primary_accent
  box-shadow 0 1em 2em rgba(#FA2245, 0.2)


.button--outline
  color primary_accent

.button--margin
  margin-top 2rem

@media (max-width: mq-navigation)
  .button
    min-width 50vw
    text-align center