.footer
  height 3em
  position fixed
  bottom 1em
  right 1em
  flex(row, flex-end, center)

.footer
  a
    margin-right 1em
    &:hover
      i
        color primary_dark
    i
      color highlight
      font-size 1.4rem
      t-middle()

@media (max-width: mq-navigation)
  .footer
    display none