.footer {
  height: 3em;
  position: fixed;
  bottom: 1em;
  right: 1em;
}
.footer a {
  margin-right: 1em;
}
.footer a:hover i {
  color: primary_dark;
}
.footer a i {
  color: highlight;
  font-size: 1.4rem;
}
@media (max-width: mq-navigation) {
  .footer {
    display: none;
  }
}
