.loader {
  width: 100vw;
  height: 100vh;
  background-color: primary_light;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}
.loader__spinner {
  height: 1.5em;
  width: 1.5em;
  border-width: 3px;
  border-style: solid;
  border-bottom-color: primary_light;
  border-left-color: primary_accent;
  border-right-color: primary_accent;
  border-top-color: primary_accent;
  border-radius: 1.5em;
  animation: 1.2s spin infinite;
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
