.mainframe
  padding 0 15vw
  width 100vw

.mainframe--fixedHeight
  min-height 100vh
  height 100%

.mainframe--flexcenter
  flex(column, center, flex-start)

.mainframe--topbottomp
  padding-top 10vh
  padding-bottom 10vh

.mainframe--background
  background-image url('images/Berlin.svg')
  background-position center right
  background-size 60% auto
  background-repeat no-repeat

@media (max-width: 747px)
  .mainframe
    padding 0 5vw


@media (max-width: 1000px)
  .mainframe--background
    background-position bottom center
    background-size 120% auto