header
  height 2.5rem
  width 100vw
  flex(row, space-between, center)
  padding 3rem
  position fixed
  left 0
  top 0
  z-index 900
  background-color rgba(white, 0)
  border-bottom 0 solid primary_dark_lighter90


header
  ion-icon
    display none
    &:hover
      cursor pointer

.header__logo
  height 2rem

.navigation__element
  color primary_dark_lighter
  text-transform uppercase
  font-family latoBold
  font-size 0.7rem
  margin-right 2rem
  t-fast()
  &:hover
    color primary_accent

.navigation__element--active
  color primary_accent

.header--scrolled
  background-color primary_light
  border-light-bottom()
  t-middle()

@media (max-width: mq-navigation)
  header
    height 10vh
    background-color primary_light
    padding 0
    border-light-bottom()
    flex(column, flex-start, center)
    ion-icon
      display block
      font-size 1.3rem

  .header__seperator
    width 100%
    height 10vh
    position relative
    z-index 5
    padding 0 1.5rem
    background-color primary_light
    flex(row, space-between, center)

  .header__navigation
    position absolute
    z-index 1
    width 100%
    left 0
    top -300%
    t-middle()
    flex(column,center, center)

  .header__navigation--unfolded
    top 100%

  .navigation__element
    height 10vh
    width 100%
    margin-right 0
    background-color primary_light
    flex(row, center, center)
    border-light-bottom()