.section__download {
  width: 50%;
}
.section__showcase {
  width: 100%;
  display: grid;
  margin-top: 5em;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(30vh, auto);
  grid-gap: 3em;
  border-radius: 2px;
}
@media (min-width: mq-navigation1) {
  .section__download .button {
    margin-right: 1em;
  }
}
@media (max-width: mq-padready) {
  .section__download {
    width: 100%;
  }
  .section__showcase {
    grid-template-columns: repeat(1, 100%);
  }
}
