.showcase__article
  flex(column, end, flex-start)
  t-fast()
  &:hover
    transform translateY(-5px)

.showcase__image
  width 100%
  border-radius 3px

.showcase__caption
  flex(column, flex-start, flex-start)

.caption__head
  color primary_accent
  font-weight 500
  margin 1em 0
  line-height 100%

.caption__description
  color primary_dark_lighter
  font-size 0.8rem
  line-height @font-size * 2
  margin-bottom 1em

.caption__tags
  font-family 'Menlo'
  font-size 0.7rem
  color primary_dark_lighter50

.desc__link
  color primary_accent

.title--type
  font-size 0.7rem
  padding 0.3rem 0.6rem
  background-color primary_accent_light
  color primary_accent
  border-radius 1px
  margin-right 0.3rem