.text--header
  font-family latoBlack
  font-size 2rem

.text--basic
  font-size 1rem
  line-height @font-size * 2
  color primary_dark_lighter
  font-weight 400

.text--self
  width 50%
  margin-top 1.5rem
  text-align justify

.text--highlighted
  font-weight 500
  color primary_accent

.text--link
  color primary_accent
  font-family latoBold

@media (max-width: mq-padready)
  .text--self
    width 100%
    text-align left