<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/a725659ee3.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/main.css' %}">
    <script src="{% static '/js/handle-navbar.js' %}"></script>
    <script src="{% static '/js/hashtag.js' %}"></script>
    <script src="{% static '/js/disappearloader.js' %}"></script>
    <script src="{% static '/js/manage-viewport.js' %}"></script>
    <title>Florian Pürschel - UI/UX Designer</title>
</head>
<body>
<div id="loader" class="loader">
    <div class="loader__spinner"></div>
</div>
<div id="pg-bar" class="progressbar"></div>
<header id="header">
    <div class="header__seperator">
        <a href="#">
            {% load static %}
            <img class="header__logo" draggable="false" src="../static/images/logo.svg" alt="">
        </a>
        <ion-icon id="menu-unfolder" name="menu-sharp"></ion-icon>
    </div>
    <nav id="navigation" class="header__navigation">
        <a href="#home" class="navigation__element" name="home">home</a>
        <a href="#work" class="navigation__element" name="work">showcase</a>
        <a href="#contact" class="navigation__element" name="contact">contact</a>
    </nav>
</header>
<main class="mainframe mainframe--background mainframe--flexcenter mainframe--fixedHeight" id="home">
<p class="text--header">Hey there.</p>
<p class="text--basic text--self">
My name is Florian Pürschel. I am 26 years old and a media computer science student from <b class="text--highlighted">Berlin, Germany</b>. Currently I am searching a working student job in UI/UX with the opportunity of an intership and following long term employment.
</p>
<section class="section__download">
    {% load static %}
    <a href="../static/download/cv.pdf" download="cv - Florian Pürschel.pdf" class="button button--full button--margin">Résumé</a>
    <a href="../static/download/puerschel.zip" download="puerschel.zip" class="button button--outline button--margin">application portfolio</a>
</section>
</main>
<main class="mainframe mainframe--topbottomp mainframe--fixedHeight" id="work">
    <p class="text--header">work</p>
    <section class="section__showcase">
        {% for work in all_the_work %}
        <article class="showcase__article">
            {% load static %}
            <a href="{{ work.link }}" target="_blank" class="showcase__link">
                <img class="showcase__image" src="../static/images/showcase/{{ work.samplePicture }}" alt="">
            </a>
            <p class="showcase__caption">
                <a href="{{ work.link }}" target="_blank" class="caption__head">
                    <span class="title--type">{{ work.type_lower }}</span> {{ work.title }}
                </a>
                <span class="caption__description">
                    {{ work.description|safe }}
                </span>
                <span class="caption__tags">{{ work.tags }}</span>
            </p>
        </article>
        {% endfor %}
    </section>
</main>
<main class="mainframe mainframe--flexcenter mainframe--fixedHeight" id="contact">
    <p class="text--header">Let's work together! :)</p>
    <p class="text--basic text--self">Feel free to contact me via <a class="text--link" href="mailto:hello@prshl.de?subject=Hey%2C%20let's%20work%20together">mail</a>, <a class="text--link" href="http://www.linkedin.com/in/puerschel">linkedin</a> or <span class="text--link">phone</span>.</p>
    <table>
        <tr>
            <td>mail</td>
            <td><a href=" mailto:hello@prshl.de?subject=Hey%2C%20let's%20work%20together">hello@prshl.de</a></td>
        </tr>
        <tr>
            <td>linkedin</td>
            <td><a href="http://www.linkedin.com/in/puerschel" target="_blank">www.linkedin.com/in/puerschel</a></td>
        </tr>
        <tr>
            <td>phone</td>
            <td>+49 176 20226360</td>
        </tr>
    </table>
</main>
<footer class="footer">
    <a href="https://github.com/puerschel93/"><i class="fab fa-github"></i></ion-icon></a>
    <a href="https://www.linkedin.com/in/puerschel/"><i class="fab fa-linkedin"></i></a>
    <a href="https://codepen.io/puerschel93/"><i class="fab fa-codepen"></i></a>
    <a href="https://dribbble.com/puerschel93/"><i class="fab fa-dribbble"></i></a>
</footer>
</body>
</html>