@font-face {
  font-family: lato;
  font-style: normal;
  src: url("fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: latoBold;
  font-style: normal;
  src: url("fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: latoBlack;
  font-style: normal;
  src: url("fonts/Lato-Bold.ttf");
}
.button {
  padding: 0.7rem 1.4rem;
  border-radius: 4px;
  font-family: latoBold;
  font-size: 0.8rem;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.button:hover {
  opacity: 0.8;
}
.button--full {
  color: #f8fafb;
  background-color: #fa2245;
  box-shadow: 0 1em 2em rgba(250,34,69,0.2);
}
.button--outline {
  color: #fa2245;
}
.button--margin {
  margin-top: 2rem;
}
@media (max-width: 564px) {
  .button {
    min-width: 50vw;
    text-align: center;
  }
}
table {
  margin-top: 2rem;
}
table tr {
  height: 1.5rem;
  padding: auto 0;
}
table tr td {
  color: #4d4d4d;
}
table tr td:first-child {
  padding-right: 2.5rem;
}
.footer {
  height: 3em;
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.footer a {
  margin-right: 1em;
}
.footer a:hover i {
  color: #000;
}
.footer a i {
  color: #fa2245;
  font-size: 1.4rem;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
@media (max-width: 564px) {
  .footer {
    display: none;
  }
}
.loader {
  width: 100vw;
  height: 100vh;
  background-color: #f8fafb;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader__spinner {
  height: 1.5em;
  width: 1.5em;
  border-width: 3px;
  border-style: solid;
  border-bottom-color: #f8fafb;
  border-left-color: #fa2245;
  border-right-color: #fa2245;
  border-top-color: #fa2245;
  border-radius: 1.5em;
  animation: 1.2s spin infinite;
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.mainframe {
  padding: 0 15vw;
  width: 100vw;
}
.mainframe--fixedHeight {
  min-height: 100vh;
  height: 100%;
}
.mainframe--flexcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mainframe--topbottomp {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.mainframe--background {
  background-image: url("images/Berlin.svg");
  background-position: center right;
  background-size: 60% auto;
  background-repeat: no-repeat;
}
@media (max-width: 747px) {
  .mainframe {
    padding: 0 5vw;
  }
}
@media (max-width: 1000px) {
  .mainframe--background {
    background-position: bottom center;
    background-size: 120% auto;
  }
}
header {
  height: 2.5rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 900;
  background-color: rgba(255,255,255,0);
  border-bottom: 0 solid #e6e6e6;
}
header ion-icon {
  display: none;
}
header ion-icon:hover {
  cursor: pointer;
}
.header__logo {
  height: 2rem;
}
.navigation__element {
  color: #4d4d4d;
  text-transform: uppercase;
  font-family: latoBold;
  font-size: 0.7rem;
  margin-right: 2rem;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}
.navigation__element:hover {
  color: #fa2245;
}
.navigation__element--active {
  color: #fa2245;
}
.header--scrolled {
  background-color: #f8fafb;
  border-bottom: 1px solid #e6e6e6;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
@media (max-width: 564px) {
  header {
    height: 10vh;
    background-color: #f8fafb;
    padding: 0;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  header ion-icon {
    display: block;
    font-size: 1.3rem;
  }
  .header__seperator {
    width: 100%;
    height: 10vh;
    position: relative;
    z-index: 5;
    padding: 0 1.5rem;
    background-color: #f8fafb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header__navigation {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: -300%;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__navigation--unfolded {
    top: 100%;
  }
  .navigation__element {
    height: 10vh;
    width: 100%;
    margin-right: 0;
    background-color: #f8fafb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
  }
}
.progressbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 0.2em;
  background-color: #fa2245;
  width: 100vw;
  content: '';
  z-index: 950;
}
.section__download {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.section__showcase {
  width: 100%;
  display: grid;
  margin-top: 5em;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(30vh, auto);
  grid-gap: 3em;
  border-radius: 2px;
}
@media (min-width: 565px) {
  .section__download .button {
    margin-right: 1em;
  }
}
@media (max-width: 770px) {
  .section__download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .section__showcase {
    grid-template-columns: repeat(1, 100%);
  }
}
.showcase__article {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}
.showcase__article:hover {
  transform: translateY(-5px);
}
.showcase__image {
  width: 100%;
  border-radius: 3px;
}
.showcase__caption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.caption__head {
  color: #fa2245;
  font-weight: 500;
  margin: 1em 0;
  line-height: 100%;
}
.caption__description {
  color: #4d4d4d;
  font-size: 0.8rem;
  line-height: 1.6rem;
  margin-bottom: 1em;
}
.caption__tags {
  font-family: 'Menlo';
  font-size: 0.7rem;
  color: #808080;
}
.desc__link {
  color: #fa2245;
}
.title--type {
  font-size: 0.7rem;
  padding: 0.3rem 0.6rem;
  background-color: rgba(250,34,69,0.05);
  color: #fa2245;
  border-radius: 1px;
  margin-right: 0.3rem;
}
.text--header {
  font-family: latoBlack;
  font-size: 2rem;
}
.text--basic {
  font-size: 1rem;
  line-height: 2rem;
  color: #4d4d4d;
  font-weight: 400;
}
.text--self {
  width: 50%;
  margin-top: 1.5rem;
  text-align: justify;
}
.text--highlighted {
  font-weight: 500;
  color: #fa2245;
}
.text--link {
  color: #fa2245;
  font-family: latoBold;
}
@media (max-width: 770px) {
  .text--self {
    width: 100%;
    text-align: left;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: lato, sans-serif;
  color: #000;
}
*::selection {
  background-color: #fa2245;
  color: #000;
}
body {
  background-color: #f8fafb;
}
html {
  scroll-behavior: smooth;
}
