@import './ressources/*'
@import './files/*'

*
  margin 0
  padding 0
  box-sizing border-box
  list-style none
  text-decoration none
  font-family lato, sans-serif
  color primary_dark
  &::selection
    background-color primary_accent
    color primary_dark

body
  background-color primary_light

html
  scroll-behavior smooth